body {
    overflow: hidden;
    margin: 0 0;
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25%;
    left: 0;
    background: white;
}

#review {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 75%;
    overflow: scroll;
    background: wheat;
}